@charset "UTF-8";

:root {
    --max-width-wrapper: 1920px;
    --max-width-container: 1170px;
    --container-pi: 10px;
    --header-height: 2.875rem;
  /* Color styles */
    --base-cristal-white: #ffffff;
    --base-rich-black: #06101a;
    --brandbook-main: #f7971d;
    --buttons-orange: linear-gradient(103deg, #f7971d -0.53%, #f76b1d 100.4%);
    --buttons-hover: #feb700;
    --brandbook-grass: #9ed6a1;
    --brandbook-bordo: #760000;
    --brandbook-bottons: #204f3d;
    --brandbook-more: #f22a52;
    --buttons-white: #ffffff;
    --buttons-green: #2dbe64;
    --buttons-blue: #00a3ff;
    --buttons-red: #fe4928;
    --buttons-violet: #7b61ff;
    --gray-gray_10: #fafaff;
    --gray-gray_20: #f0f1ed;
    --gray-gray_30: #e6e6f0;
    --gray-gray_40: #bcbccc;
    --gray-gray_50: #9393a3;
    --gray-gray_60: #67677a;
    --gray-gray_70: #3e3e52;
    --gray-grey_80: #0e1b26;
    --tech-hot-red: #ff0000;
    --tech-sky: #00a3ff;
    --tech-greentekila: #0ff14e;
    --tech-barbie: #ff00a8;
  /* z-index */
    --zIndex: 999;
}

@media (min-width: 576px) {
    :root {
        --header-height: 3.438rem;
    }
}

@media (min-width: 768px) {
    :root {
        --header-height: 5rem;
    }
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

@font-face {
    font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: local("Mulish"), local("Mulish"), url("../fonts/mulish/Mulish-Regular.woff2") format("woff2"), url("../fonts/mulish/Mulish-Regular.woff") format("woff"), url("../fonts/mulish/Mulish-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  src: local("Mulish"), local("Mulish"), url("../fonts/mulish/Mulish-Medium.woff2") format("woff2"), url("../fonts/mulish/Mulish-Medium.woff") format("woff"), url("../fonts/mulish/Mulish-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  src: local("Mulish"), local("Mulish"), url("../fonts/mulish/Mulish-SemiBold.woff2") format("woff2"), url("../fonts/mulish/Mulish-SemiBold.woff") format("woff"), url("../fonts/mulish/Mulish-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  src: local("Mulish"), local("Mulish"), url("../fonts/mulish/Mulish-Bold.woff2") format("woff2"), url("../fonts/mulish/Mulish-Bold.woff") format("woff"), url("../fonts/mulish/Mulish-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  src: local("Mulish"), local("Mulish"), url("../fonts/mulish/Mulish-ExtraBold.woff2") format("woff2"), url("../fonts/mulish/Mulish-ExtraBold.woff") format("woff"), url("../fonts/mulish/Mulish-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Mulish";
  font-style: normal;
  font-weight: 900;
  src: local("Mulish"), local("Mulish"), url("../fonts/mulish/Mulish-Black.woff2") format("woff2"), url("../fonts/mulish/Mulish-Black.woff") format("woff"), url("../fonts/mulish/Mulish-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Mulish";
  font-style: normal;
  font-weight: 1000;
  src: local("Mulish"), local("Mulish"), url("../fonts/mulish/Mulish-ExtraBlack.woff2") format("woff2"), url("../fonts/mulish/Mulish-ExtraBlack.woff") format("woff"), url("../fonts/mulish/Mulish-ExtraBlack.ttf") format("truetype");
}

@font-face {
    font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  src: local("Golos"), local("Golos"), url("../fonts/golos/GolosText-Regular.woff2") format("woff2"), url("../fonts/golos/GolosText-Regular.woff") format("woff"), url("../fonts/golos/GolosText-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Golos";
  font-style: normal;
  font-weight: 500;
  src: local("Golos"), local("Golos"), url("../fonts/golos/GolosText-Medium.woff2") format("woff2"), url("../fonts/golos/GolosText-Medium.woff") format("woff"), url("../fonts/golos/GolosText-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Golos";
  font-style: normal;
  font-weight: 600;
  src: local("Golos"), local("Golos"), url("../fonts/golos/GolosText-SemiBold.woff2") format("woff2"), url("../fonts/golos/GolosText-SemiBold.woff") format("woff"), url("../fonts/golos/GolosText-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Golos";
  font-style: normal;
  font-weight: 700;
  src: local("Golos"), local("Golos"), url("../fonts/golos/GolosText-Bold.woff2") format("woff2"), url("../fonts/golos/GolosText-Bold.woff") format("woff"), url("../fonts/golos/GolosText-Bold.ttf") format("truetype");
}

body {
    font-family: "Mulish";
    font-size: 1rem;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    color: var(--base-cristal-white, #fff);
    background: var(--base-rich-black, #06101a);
}

body.no-scroll {
    overflow: hidden;
}

/*
<button class="button" type="button">
  <span>Кнопка</span>
</button>
*/
.button {
    --button-fs: 1.125rem;
    --button-clr: var(--base-rich-black, #06101a);
    --button-height: 3.375rem;
    --button-radius: 0.75rem;
    --button-bg: var(
    --buttons-orange,
    linear-gradient(103deg, #f7971d -0.53%, #f76b1d 100.4%)
  );
    --button-bg-hover: var(--buttons-hover);
    width: 100%;
    min-height: var(--button-height);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--button-fs);
    font-style: normal;
    font-weight: 800;
    text-align: center;
    line-height: 1.364;
 /* 133.333% */
    color: var(--button-clr);
    cursor: pointer;
    border-radius: var(--button-radius);
    background: var(--button-bg-hover);
    overflow: hidden;
    border: none;
    outline: none;
    transition: background 0.2s linear, border 0.2s linear;
    position: relative;
}

.button span {
    display: block;
    position: relative;
    z-index: 2;
    transition: transform 0.2s linear;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: var(--button-bg);
    border-radius: inherit;
    transition: opacity 0.2s linear, visibility 0.2s linear;
}

@media (any-hover: hover) {
    .button:hover::before {
        opacity: 0;
        visibility: hidden;
    }
}

@media (min-width: 1200px) {
    .button {
        --button-height: 4.25rem;
        --button-fs: 1.375rem;
        --button-radius: 0.938rem;
    }
}

.button_secondary {
    --button-fs: 0.875rem;
    --button-clr: var(--base-cristal-white, #fff);
    --button-height: 2.375rem;
    --button-radius: 0.5rem;
    --button-border-clr: var(--button-bg-hover);
    background: transparent;
    border: 1px solid var(--button-border-clr);
    overflow: visible;
}

.button_secondary::before {
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
}

.button_secondary::before {
    opacity: 0;
    visibility: hidden;
}

@media (any-hover: hover) {
    .button_secondary:hover {
        border-color: transparent;
    }

    .button_secondary:hover::before {
        opacity: 1;
        visibility: visible;
    }
}

@media (min-width: 1200px) {
    .button_sm {
        --button-height: 2.5rem;
        --button-fs: 0.875rem;
        --button-radius: 0.75rem;
    }
}

@media (min-width: 768px) {
    .button_icon {
        --icon-width: 1.636em;
    }

    .button_icon span::after {
        content: "";
        width: var(--icon-width);
        height: 1.091em;
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate3d(calc(100% + 0.455em), -50%, 0);
        background-image: url("../images/UI/buttons/icon_01.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition-property: opacity, visibility, transform;
        transition-duration: 0.2s;
    }
}

@media (min-width: 768px) and (any-hover: hover) {
    .button_icon:hover span {
        transform: translate3d(calc((var(--icon-width) - var(--icon-width) * 2) / 2), 0, 0);
    }

    .button_icon:hover span::after {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

.wrapper {
    --_max-width: var(--max-width-wrapper, 1920px);
    width: 100%;
    max-width: var(--_max-width);
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

@media (max-width: 768px) {
    .wrapper {
        padding: var(--header-height) 0 0 0;
    }
}

.container {
    --_max-width-container: var(--max-width-container, 1200px);
    --_padding-inline: var(--container-pi, 15px);
    margin: 0 auto;
    padding: 0 var(--_padding-inline);
    max-width: calc(var(--_max-width-container) + var(--_padding-inline) * 2);
}

.image {
    display: block;
    position: relative;
}

.image img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.content {
    flex: 1 1 auto;
}

@media (max-width: 768px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: var(--zIndex);
    }

    .header.active .header__menu {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .header.active .header__menu-toggle .header__menu-icon-dots {
        display: none;
    }

    .header.active .header__menu-toggle .header__menu-icon-cross {
        display: block;
    }

    .header.scrolled .header__wrapper::after {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

.header__wrapper {
    min-height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.header__wrapper::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(14, 27, 38, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility, transform;
    transition-duration: 0.2s;
}

@media (min-width: 768px) {
    .header__wrapper {
        padding: 0.625rem 0;
    }

    .header__wrapper::after {
        display: none;
    }
}

.header__loog {
    flex: 0 0 112px;
    display: block;
}

.header__loog img {
    width: 100%;
}

@media (min-width: 768px) {
    .header__loog {
        flex: 0 1 165px;
        min-width: 112px;
    }
}

.header__user,
.header__menu-toggle {
    flex: 0 0 1.857em;
    height: 1.857em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.571;
 /* 157.143% */
    color: var(--base-rich-black, #06101a);
    cursor: pointer;
    border-radius: 50%;
    background: var(--base-cristal-white, #fff);
    transition: color 0.2s linear, background 0.2s linear;
}

.header__user svg,
.header__menu-toggle svg {
    flex: 0 0 1em;
    width: 1em;
    height: 1em;
    display: block;
    fill: transparent;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
}

.header__user span,
.header__menu-toggle span {
    display: none;
}

@media (any-hover: hover) {
    .header__user:hover,
  .header__menu-toggle:hover {
        color: var(--base-rich-black, #06101a);
        background: var(--brandbook-main, #f7971d);
    }
}

@media (min-width: 768px) {
    .header__user,
  .header__menu-toggle {
        flex: 0 0 auto;
        height: 2.857em;
        padding: 0 1.143em;
        color: var(--base-cristal-white, #fff);
        border-radius: 300px;
        background: var(--gray-grey-80, #0e1b26);
    }

    .header__user svg,
  .header__menu-toggle svg {
        flex: 0 0 1.143em;
        width: 1.143em;
        height: 1.143em;
    }

    .header__user span,
  .header__menu-toggle span {
        padding: 0 0 0 0.714em;
        display: block;
    }
}

.header__menu-toggle .header__menu-icon-dots {
    fill: currentColor;
    stroke: none;
}

.header__menu-toggle .header__menu-icon-cross {
    display: none;
}

@media (min-width: 768px) {
    .header__menu-toggle {
        display: none;
    }
}

@media (max-width: 768px) {
    .header__menu {
        --padding-top: calc(var(--header-height) + 0.313rem);
        padding: var(--padding-top) var(--container-pi) var(--container-pi) var(--container-pi);
        display: flex;
        flex-direction: column;
        gap: 0.938rem;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        transform: translate3d(0, -100%, 0);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition-property: opacity, visibility, transform;
        transition-duration: 0.2s;
        background: var(--base-rich-black, #06101a);
    }
}

@media (max-width: 768px) {
    .header__actions {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .header__actions_default .header__actions-wrapper {
        justify-content: flex-start;
    }

    .header__actions_default .header__action {
        padding: 0.75em 0.6em;
        text-align: left;
    }
}

.header__actions-wrapper {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 768px) {
    .header__actions-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.938rem 1.25rem;
    }
}

@media (min-width: 1200px) {
    .header__actions-wrapper {
        gap: 0.938rem 3.125rem;
    }
}

.header__action {
    padding: 0.5em 0;
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.571;
 /* 157.143% */
    color: var(--base-cristal-white, #ffffff);
    cursor: pointer;
    transition: color 0.2s linear, background 0.2s linear;
    border-radius: 0.4em;
}

@media (any-hover: hover) {
    .header__action:hover {
        color: var(--brandbook-main, #f7971d);
    }
}

.header__action.active {
    color: var(--brandbook-main, #f7971d);
    background: var(--gray-grey-80, #0e1b26);
}

@media (min-width: 768px) {
    .header__action {
        padding: 0;
        font-size: 0.875rem;
        text-align: left;
        color: var(--gray-gray-60, #67677a);
        border-radius: 0;
        background: none;
    }

    .header__action.active {
        color: var(--gray-gray-60, #67677a);
        background: none;
    }
}

@media (min-width: 768px) and (any-hover: hover) {
    .header__action:hover {
        color: var(--base-cristal-white, #ffffff);
    }
}

@media (min-width: 768px) {
    .header__menu-button {
        display: none;
    }
}

.index__title {
    margin: 0 0 1.5rem 0;
    display: block;
    font-size: clamp(1.5rem, 1rem + 2.5vw, 3.125rem);
    font-style: normal;
    font-weight: 700;
    line-height: 0.88;
 /* 88% */
    color: var(--base-cristal-white, #fff);
}

@media (min-width: 576px) {
    .index__title {
        margin: 0 0 0.8em 0;
    }
}

@media (max-width: 576px) {
    .index__calc {
        margin: -95px 0 0 0;
    }
}

@media (min-width: 992px) {
    .index__calc {
        padding: 25px 0 0 0;
    }
}

@media (min-width: 1200px) {
    .index__calc {
        padding: 65px 0 0 0;
    }
}

.index__get-money {
    padding: 30px 0 0 0;
}

@media (min-width: 768px) {
    .index__get-money {
        padding: 50px 0 0 0;
    }
}

@media (min-width: 992px) {
    .index__get-money {
        padding: 65px 0 0 0;
    }
}

@media (min-width: 1200px) {
    .index__get-money {
        padding: 90px 0 0 0;
    }
}

.index__paycards,
.index__application {
    padding: 40px 0 0 0;
}

@media (min-width: 768px) {
    .index__paycards,
  .index__application {
        padding: 50px 0 0 0;
    }
}

@media (min-width: 992px) {
    .index__paycards,
  .index__application {
        padding: 65px 0 0 0;
    }
}

@media (min-width: 1200px) {
    .index__paycards,
  .index__application {
        padding: 90px 0 0 0;
    }
}

.calc {
    position: relative;
}

.calc__wrapper {
    padding: 265px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

@media (min-width: 576px) {
    .calc__wrapper {
        padding: 0;
        gap: 20px 10px;
    }
}

@media (min-width: 992px) {
    .calc__wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
}

.calc__dekor-01,
.calc__dekor-02 {
    display: none;
}

@media (min-width: 576px) {
    .calc__dekor-01,
  .calc__dekor-02 {
        width: 430px;
        display: block;
        position: absolute;
        z-index: -1;
    }

    .calc__dekor-01 img,
  .calc__dekor-02 img {
        width: 100%;
    }
}

.calc__dekor-01 {
    top: -127px;
    left: 120px;
}

@media (min-width: 992px) {
    .calc__dekor-01 {
        left: -80px;
    }
}

.calc__dekor-02 {
    top: 75px;
    left: 310px;
}

.calc__dekor-02 img {
    width: 100%;
}

@media (max-width: 576px) {
    .calc__image {
        width: 436px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
    }

    .calc__image img {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .calc__image {
        max-width: 400px;
    }
}

@media (min-width: 992px) {
    .calc__image {
        flex: 0 1 692px;
        max-width: none;
    }
}

.calc__body {
    width: 100%;
    max-width: 450px;
    position: relative;
}

@media (min-width: 576px) {
    .calc__body {
        padding: 1.875rem 20px 20px 20px;
        border-radius: 20px;
        background: var(--base-rich-black, #06101a);
    }

    .calc__body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: inherit;
        opacity: 0.1;
        border: 2px solid var(--base-cristal-white, #fff);
    }
}

@media (min-width: 768px) {
    .calc__body {
        padding: 1.875rem 25px 25px 25px;
    }
}

@media (min-width: 992px) {
    .calc__body {
        flex: 0 0 453px;
        width: auto;
        max-width: none;
        padding: 2.188rem;
        border-radius: 40px;
    }
}

.calc__body-wrapper {
    display: grid;
    gap: 15px;
    position: relative;
    z-index: 1;
}

@media (min-width: 992px) {
    .calc__body-wrapper {
        gap: 20px;
    }
}

.calc__range {
    padding: 22px 20px 0px 20px;
    border-radius: 20px;
    background: rgba(14, 27, 38, 0.5);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    position: relative;
}

@media (min-width: 576px) {
    .calc__range {
        padding: 28px 20px 0px 20px;
        border-radius: 25px;
    }
}

.calc__label {
    padding: 0.357em 0.643em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.688rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.571em;
 /* 157.143% */
    color: var(--base-rich-black, #06101a);
    border-radius: 4.5em;
    background: var(--base-cristal-white, #fff);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.calc__label svg {
    flex: 0 0 1em;
    width: 1em;
    height: 1em;
    margin: 0 2px 0 0;
    display: block;
    fill: transparent;
    stroke: currentColor;
    stroke-width: 1;
}

.calc__label span {
    display: block;
}

@media (min-width: 992px) {
    .calc__label {
        font-size: 0.875rem;
    }
}

.calc__sublabel,
.calc__range-sum,
.calc__return {
    font-size: 0.75rem;
    line-height: 1.571em;
 /* 157.143% */
}

@media (min-width: 768px) {
    .calc__sublabel,
  .calc__range-sum,
  .calc__return {
        font-size: 0.875rem;
    }
}

.calc__sublabel {
    display: block;
    font-weight: 500;
    text-align: center;
    color: var(--base-cristal-white, #fff);
}

@media (min-width: 576px) {
    .calc__sublabel {
        margin: 0 0 0.357em 0;
    }
}

.calc__range-values {
    margin: 0 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 576px) {
    .calc__range-values {
        margin: 0 0 15px 0;
    }
}

.calc__range-sum {
    display: block;
    font-weight: 500;
    text-align: center;
    color: var(--base-cristal-white, #fff);
}

.calc__range-current {
    display: block;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.429;
 /* 142.857% */
    color: var(--brandbook-main, #f7971d);
}

@media (min-width: 992px) {
    .calc__range-current {
        font-size: 2.188rem;
    }
}

.calc__return {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-weight: 500;
    text-align: center;
    color: var(--gray-gray-60, #67677a);
}

.calc__slider {
    min-width: 0;
}

.calc__output {
    display: block;
    font-size: 0.75rem;
    font-weight: 800;
    text-align: center;
    line-height: 1.5;
 /* 150% */
    color: var(--gray-gray-50, #9393a3);
}

.calc__output strong {
    color: var(--brandbook-main, #f7971d);
}

@media (min-width: 768px) {
    .calc__output {
        font-size: 0.875rem;
    }
}

@media (min-width: 992px) {
    .calc__output {
        font-size: 1rem;
    }
}

.calc__range-slider.noUi-horizontal {
    --height: 3px;
    --handle-size: 34px;
    height: var(--height);
    border-radius: 3px;
    border: none;
    box-shadow: none;
    background: none;
}

.calc__range-slider.noUi-horizontal .noUi-connects {
    border-radius: 3px;
}

.calc__range-slider.noUi-horizontal .noUi-connect {
    background: var(--brandbook-main, #f7971d);
}

.calc__range-slider.noUi-horizontal .noUi-handle {
    width: 1em;
    height: 1em;
    font-size: var(--handle-size);
    border-radius: 50%;
    border: 4px solid rgba(14, 27, 38, 0.5);
    box-shadow: 0px 1.2px 16px 0px rgba(0, 0, 0, 0.1);
    background: none;
    top: calc(var(--height) / 2);
    right: 0;
    transform: translate3d(50%, -50%, 0);
}

.calc__range-slider.noUi-horizontal .noUi-handle::before {
    width: 100%;
    height: 100%;
    position: static;
    border-radius: 50%;
    background: var(--buttons-orange, linear-gradient(103deg, #f7971d -0.53%, #f76b1d 100.4%));
}

.calc__range-slider.noUi-horizontal .noUi-handle::after {
    width: 72%;
    height: 72%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(0.7);
    background: var(--base-rich-black, #06101a);
    opacity: 0.3;
    transition: transform 0.2s linear, opacity 0.2s linear;
}

.calc__range-slider.noUi-horizontal .noUi-handle.noUi-active::after {
    transform: translate3d(-50%, -50%, 0) scale(1);
    opacity: 0.6;
}

@media (min-width: 768px) {
    .calc__range-slider.noUi-horizontal {
        --handle-size: 42px;
    }

    .calc__range-slider.noUi-horizontal .noUi-handle {
        border: 5px solid rgba(14, 27, 38, 0.5);
    }
}

.calc__date {
    min-height: 2.864em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    color: var(--base-cristal-white, #fff);
    border-radius: 0.682em;
    border: 2px solid var(--gray-grey-80, #0e1b26);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    transition: border 0.2s linear;
}

.calc__date span {
    font-size: 0.625rem;
    font-weight: 400;
    color: var(--gray-gray-70, #3e3e52);
    transition: color 0.2s linear;
}

@media (any-hover: hover) {
    .calc__date:hover span {
        color: var(--base-cristal-white, #fff);
    }
}

.calc__date.active {
    color: var(--base-cristal-white, #fff);
    border-color: var(--brandbook-main, #f7971d);
}

.calc__date.active span {
    color: var(--base-cristal-white, #fff);
}

@media (min-width: 576px) {
    .calc__date {
        padding: 0.455em;
    }
}

@media (min-width: 992px) {
    .calc__date {
        font-size: 1.375rem;
    }

    .calc__date span {
        font-size: 0.75rem;
    }
}

.get-money__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-auto-rows: 1fr;
    gap: 20px;
}

@media (min-width: 768px) {
    .get-money__items {
        grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    }
}

.get-money__item {
    border-radius: 8px;
    background: var(--gray-grey-80, #0e1b26);
    position: relative;
}

@media (min-width: 768px) {
    .get-money__item {
        border-radius: 10px;
    }
}

.get-money__image {
    width: 100%;
    max-width: 102px;
    position: absolute;
    left: 11px;
    bottom: 0;
}

.get-money__image img {
    width: 100%;
}

@media (min-width: 992px) {
    .get-money__image {
        max-width: 129px;
    }
}

.get-money__info {
    padding: 25px 10px 25px 118px;
}

@media (min-width: 768px) {
    .get-money__info {
        padding: 25px 40px 25px 118px;
    }
}

@media (min-width: 992px) {
    .get-money__info {
        padding: 30px 40px 30px 148px;
    }
}

.get-money__label {
    margin: 0 0 0.5em 0;
    display: block;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.4;
 /* 140% */
    color: var(--brandbook-main, #f7971d);
}

@media (min-width: 992px) {
    .get-money__label {
        font-size: 1.25rem;
    }
}

.get-money__sublabel {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5;
 /* 150% */
    color: var(--base-cristal-white, #fff);
}

@media (min-width: 992px) {
    .get-money__sublabel {
        font-size: 1rem;
    }
}

.paycards__wrapper {
    display: grid;
    gap: 20px;
}

@media (min-width: 992px) {
    .paycards__wrapper {
        gap: 30px;
    }
}

@media (min-width: 1200px) {
    .paycards__wrapper {
        gap: 40px;
    }
}

.paycards__title {
    margin: 0;
}

.paycards__subtitle {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5;
 /* 150% */
    color: var(--base-cristal-white, #fff);
}

@media (min-width: 576px) {
    .paycards__subtitle {
        font-size: 1rem;
    }
}

.paycards__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-auto-rows: 1fr;
    gap: 5px;
}

@media (min-width: 768px) {
    .paycards__items {
        gap: 20px;
    }
}

.paycards__item {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: var(--gray-grey-80, #0e1b26);
}

@media (min-width: 768px) {
    .paycards__item {
        border-radius: 17px;
    }
}

@media (min-width: 992px) {
    .paycards__item {
        min-height: 140px;
    }
}

.paycards__logo {
    flex: 0 1 58px;
    width: 100%;
    max-width: 58px;
}

.paycards__logo img {
    width: 100%;
}

.application__wrapper {
    border-radius: 12px;
    background: var(--gray-grey-80, #0e1b26);
    overflow: hidden;
}

.application__body {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

@media (min-width: 992px) {
    .application__body {
        padding: 20px;
    }
}

@media (min-width: 992px) {
    .application__body {
        padding: 40px;
        gap: 40px;
    }
}

.application__info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (min-width: 768px) {
    .application__info {
        gap: 25px;
    }
}

.application__title {
    margin: 0;
    line-height: 1.12;
}

.application__subtitle {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--base-cristal-white, #fff);
}

@media (min-width: 768px) {
    .application__subtitle {
        font-size: 1.125rem;
    }
}

@media (min-width: 992px) {
    .application__subtitle {
        font-size: 1.375rem;
    }
}

.application__info-description {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5;
 /* 150% */
    color: var(--base-cristal-white, #fff);
}

@media (min-width: 992px) {
    .application__info-description {
        font-size: 1rem;
    }
}

.application__steps-label {
    margin: 0 0 1em 0;
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.15;
 /* 115% */
    color: var(--base-cristal-white, #fff);
}

.application__steps-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    counter-reset: steps;
}

@media (min-width: 576px) {
    .application__steps-items {
        gap: 20px;
    }
}

.application__step {
    padding: 0.333em 0 0 3.167em;
    position: relative;
    font-size: 0.75rem;
}

.application__step::before {
    counter-increment: steps;
    content: counter(steps);
    width: 2.333em;
    height: 2.333em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    text-align: center;
    line-height: 1.417;
 /* 141.667% */
    color: var(--base-rich-black, #06101a);
    background-image: url("../images/application/bg_01.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.application__step-num {
    width: 2.333em;
    height: 2.333em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.417;
 /* 141.667% */
    color: var(--base-rich-black, #06101a);
    background-image: url("../images/application/bg_01.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.application__step-text {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.357;
 /* 135.714% */
    color: var(--base-cristal-white, #fff);
}

.application__step-text a {
    color: inherit;
    text-decoration: underline;
}

@media (any-hover: hover) {
    .application__step-text a:hover {
        text-decoration: none;
    }
}

.application__statistics {
    padding: 0 20px 0 0;
    display: grid;
    grid-template-columns: 149px 1fr;
    gap: 10px;
    background: #ffbd38;
}

@media (min-width: 576px) {
    .application__statistics {
        padding: 0 40px;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (min-width: 992px) {
    .application__statistics {
        gap: 40px;
    }
}

.statistics__image {
    display: flex;
    align-items: flex-end;
}

.statistics__image img {
    width: 100%;
    max-width: 149px;
}

@media (min-width: 576px) {
    .statistics__image {
        justify-content: flex-end;
    }

    .statistics__image img {
        flex: 0 1 459px;
        width: 100%;
        max-width: 459px;
    }
}

.application__statistics-list {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--base-rich-black, #06101a);
}

.application__statistics-list li:not(:last-child) {
    margin: 0 0 10px 0;
}

.application__statistics-list strong {
    display: block;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1.1;
}

.application__statistics-list span {
    display: block;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.417;
 /* 141.667% */
}

@media (min-width: 768px) {
    .application__statistics-list strong {
        font-size: 3.125rem;
    }
}

@media (min-width: 1200px) {
    .application__statistics-list strong {
        font-size: 5rem;
    }
}