@charset "UTF-8";

:root {
    --max-width-wrapper: 1920px;
    --max-width-container: 1170px;
    --container-pi: 10px;
    --header-height: 2.875rem;
  /* Color styles */
    --base-cristal-white: #ffffff;
    --base-rich-black: #06101a;
    --brandbook-main: #f7971d;
    --buttons-orange: linear-gradient(103deg, #f7971d -0.53%, #f76b1d 100.4%);
    --buttons-hover: #feb700;
    --brandbook-grass: #9ed6a1;
    --brandbook-bordo: #760000;
    --brandbook-bottons: #204f3d;
    --brandbook-more: #f22a52;
    --buttons-white: #ffffff;
    --buttons-green: #2dbe64;
    --buttons-blue: #00a3ff;
    --buttons-red: #fe4928;
    --buttons-violet: #7b61ff;
    --gray-gray_10: #fafaff;
    --gray-gray_20: #f0f1ed;
    --gray-gray_30: #e6e6f0;
    --gray-gray_40: #bcbccc;
    --gray-gray_50: #9393a3;
    --gray-gray_60: #67677a;
    --gray-gray_70: #3e3e52;
    --gray-grey_80: #0e1b26;
    --tech-hot-red: #ff0000;
    --tech-sky: #00a3ff;
    --tech-greentekila: #0ff14e;
    --tech-barbie: #ff00a8;
  /* z-index */
    --zIndex: 999;
}

@media (min-width: 576px) {
    :root {
        --header-height: 3.438rem;
    }
}

@media (min-width: 768px) {
    :root {
        --header-height: 5rem;
    }
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

@font-face {
    font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: local("Mulish"), local("Mulish"), url("../fonts/mulish/Mulish-Regular.woff2") format("woff2"), url("../fonts/mulish/Mulish-Regular.woff") format("woff"), url("../fonts/mulish/Mulish-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  src: local("Mulish"), local("Mulish"), url("../fonts/mulish/Mulish-Medium.woff2") format("woff2"), url("../fonts/mulish/Mulish-Medium.woff") format("woff"), url("../fonts/mulish/Mulish-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  src: local("Mulish"), local("Mulish"), url("../fonts/mulish/Mulish-SemiBold.woff2") format("woff2"), url("../fonts/mulish/Mulish-SemiBold.woff") format("woff"), url("../fonts/mulish/Mulish-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  src: local("Mulish"), local("Mulish"), url("../fonts/mulish/Mulish-Bold.woff2") format("woff2"), url("../fonts/mulish/Mulish-Bold.woff") format("woff"), url("../fonts/mulish/Mulish-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  src: local("Mulish"), local("Mulish"), url("../fonts/mulish/Mulish-ExtraBold.woff2") format("woff2"), url("../fonts/mulish/Mulish-ExtraBold.woff") format("woff"), url("../fonts/mulish/Mulish-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Mulish";
  font-style: normal;
  font-weight: 900;
  src: local("Mulish"), local("Mulish"), url("../fonts/mulish/Mulish-Black.woff2") format("woff2"), url("../fonts/mulish/Mulish-Black.woff") format("woff"), url("../fonts/mulish/Mulish-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Mulish";
  font-style: normal;
  font-weight: 1000;
  src: local("Mulish"), local("Mulish"), url("../fonts/mulish/Mulish-ExtraBlack.woff2") format("woff2"), url("../fonts/mulish/Mulish-ExtraBlack.woff") format("woff"), url("../fonts/mulish/Mulish-ExtraBlack.ttf") format("truetype");
}

@font-face {
    font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  src: local("Golos"), local("Golos"), url("../fonts/golos/GolosText-Regular.woff2") format("woff2"), url("../fonts/golos/GolosText-Regular.woff") format("woff"), url("../fonts/golos/GolosText-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Golos";
  font-style: normal;
  font-weight: 500;
  src: local("Golos"), local("Golos"), url("../fonts/golos/GolosText-Medium.woff2") format("woff2"), url("../fonts/golos/GolosText-Medium.woff") format("woff"), url("../fonts/golos/GolosText-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Golos";
  font-style: normal;
  font-weight: 600;
  src: local("Golos"), local("Golos"), url("../fonts/golos/GolosText-SemiBold.woff2") format("woff2"), url("../fonts/golos/GolosText-SemiBold.woff") format("woff"), url("../fonts/golos/GolosText-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Golos";
  font-style: normal;
  font-weight: 700;
  src: local("Golos"), local("Golos"), url("../fonts/golos/GolosText-Bold.woff2") format("woff2"), url("../fonts/golos/GolosText-Bold.woff") format("woff"), url("../fonts/golos/GolosText-Bold.ttf") format("truetype");
}

body {
    font-family: "Mulish";
    font-size: 1rem;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    color: var(--base-cristal-white, #fff);
    background: var(--base-rich-black, #06101a);
}

body.no-scroll {
    overflow: hidden;
}

/*
<button class="button" type="button">
  <span>Кнопка</span>
</button>
*/
.button {
    --button-fs: 1.125rem;
    --button-clr: var(--base-rich-black, #06101a);
    --button-height: 3.375rem;
    --button-radius: 0.75rem;
    --button-bg: var(
    --buttons-orange,
    linear-gradient(103deg, #f7971d -0.53%, #f76b1d 100.4%)
  );
    --button-bg-hover: var(--buttons-hover);
    width: 100%;
    min-height: var(--button-height);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--button-fs);
    font-style: normal;
    font-weight: 800;
    text-align: center;
    line-height: 1.364;
 /* 133.333% */
    color: var(--button-clr);
    cursor: pointer;
    border-radius: var(--button-radius);
    background: var(--button-bg-hover);
    overflow: hidden;
    border: none;
    outline: none;
    transition: background 0.2s linear, border 0.2s linear;
    position: relative;
}

.button span {
    display: block;
    position: relative;
    z-index: 2;
    transition: transform 0.2s linear;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: var(--button-bg);
    border-radius: inherit;
    transition: opacity 0.2s linear, visibility 0.2s linear;
}

@media (any-hover: hover) {
    .button:hover::before {
        opacity: 0;
        visibility: hidden;
    }
}

@media (min-width: 1200px) {
    .button {
        --button-height: 4.25rem;
        --button-fs: 1.375rem;
        --button-radius: 0.938rem;
    }
}

.button_secondary {
    --button-fs: 0.875rem;
    --button-clr: var(--base-cristal-white, #fff);
    --button-height: 2.375rem;
    --button-radius: 0.5rem;
    --button-border-clr: var(--button-bg-hover);
    background: transparent;
    border: 1px solid var(--button-border-clr);
    overflow: visible;
}

.button_secondary::before {
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
}

.button_secondary::before {
    opacity: 0;
    visibility: hidden;
}

@media (any-hover: hover) {
    .button_secondary:hover {
        border-color: transparent;
    }

    .button_secondary:hover::before {
        opacity: 1;
        visibility: visible;
    }
}

@media (min-width: 1200px) {
    .button_sm {
        --button-height: 2.5rem;
        --button-fs: 0.875rem;
        --button-radius: 0.75rem;
    }
}

@media (min-width: 768px) {
    .button_icon {
        --icon-width: 1.636em;
    }

    .button_icon span::after {
        content: "";
        width: var(--icon-width);
        height: 1.091em;
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate3d(calc(100% + 0.455em), -50%, 0);
        background-image: url("../images/UI/buttons/icon_01.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition-property: opacity, visibility, transform;
        transition-duration: 0.2s;
    }
}

@media (min-width: 768px) and (any-hover: hover) {
    .button_icon:hover span {
        transform: translate3d(calc((var(--icon-width) - var(--icon-width) * 2) / 2), 0, 0);
    }

    .button_icon:hover span::after {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

.wrapper {
    --_max-width: var(--max-width-wrapper, 1920px);
    width: 100%;
    max-width: var(--_max-width);
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

@media (max-width: 768px) {
    .wrapper {
        padding: var(--header-height) 0 0 0;
    }
}

.container {
    --_max-width-container: var(--max-width-container, 1200px);
    --_padding-inline: var(--container-pi, 15px);
    margin: 0 auto;
    padding: 0 var(--_padding-inline);
    max-width: calc(var(--_max-width-container) + var(--_padding-inline) * 2);
}

.image {
    display: block;
    position: relative;
}

.image img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.content {
    flex: 1 1 auto;
}

@media (max-width: 768px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: var(--zIndex);
    }

    .header.active .header__menu {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .header.active .header__menu-toggle .header__menu-icon-dots {
        display: none;
    }

    .header.active .header__menu-toggle .header__menu-icon-cross {
        display: block;
    }

    .header.scrolled .header__wrapper::after {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

.header__wrapper {
    min-height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.header__wrapper::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(14, 27, 38, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility, transform;
    transition-duration: 0.2s;
}

@media (min-width: 768px) {
    .header__wrapper {
        padding: 0.625rem 0;
    }

    .header__wrapper::after {
        display: none;
    }
}

.header__loog {
    flex: 0 0 112px;
    display: block;
}

.header__loog img {
    width: 100%;
}

@media (min-width: 768px) {
    .header__loog {
        flex: 0 1 165px;
        min-width: 112px;
    }
}

.header__user,
.header__menu-toggle {
    flex: 0 0 1.857em;
    height: 1.857em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.571;
 /* 157.143% */
    color: var(--base-rich-black, #06101a);
    cursor: pointer;
    border-radius: 50%;
    background: var(--base-cristal-white, #fff);
    transition: color 0.2s linear, background 0.2s linear;
}

.header__user svg,
.header__menu-toggle svg {
    flex: 0 0 1em;
    width: 1em;
    height: 1em;
    display: block;
    fill: transparent;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
}

.header__user span,
.header__menu-toggle span {
    display: none;
}

@media (any-hover: hover) {
    .header__user:hover,
  .header__menu-toggle:hover {
        color: var(--base-rich-black, #06101a);
        background: var(--brandbook-main, #f7971d);
    }
}

@media (min-width: 768px) {
    .header__user,
  .header__menu-toggle {
        flex: 0 0 auto;
        height: 2.857em;
        padding: 0 1.143em;
        color: var(--base-cristal-white, #fff);
        border-radius: 300px;
        background: var(--gray-grey-80, #0e1b26);
    }

    .header__user svg,
  .header__menu-toggle svg {
        flex: 0 0 1.143em;
        width: 1.143em;
        height: 1.143em;
    }

    .header__user span,
  .header__menu-toggle span {
        padding: 0 0 0 0.714em;
        display: block;
    }
}

.header__menu-toggle .header__menu-icon-dots {
    fill: currentColor;
    stroke: none;
}

.header__menu-toggle .header__menu-icon-cross {
    display: none;
}

@media (min-width: 768px) {
    .header__menu-toggle {
        display: none;
    }
}

@media (max-width: 768px) {
    .header__menu {
        --padding-top: calc(var(--header-height) + 0.313rem);
        padding: var(--padding-top) var(--container-pi) var(--container-pi) var(--container-pi);
        display: flex;
        flex-direction: column;
        gap: 0.938rem;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        transform: translate3d(0, -100%, 0);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition-property: opacity, visibility, transform;
        transition-duration: 0.2s;
        background: var(--base-rich-black, #06101a);
    }
}

@media (max-width: 768px) {
    .header__actions {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .header__actions_default .header__actions-wrapper {
        justify-content: flex-start;
    }

    .header__actions_default .header__action {
        padding: 0.75em 0.6em;
        text-align: left;
    }
}

.header__actions-wrapper {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 768px) {
    .header__actions-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.938rem 1.25rem;
    }
}

@media (min-width: 1200px) {
    .header__actions-wrapper {
        gap: 0.938rem 3.125rem;
    }
}

.header__action {
    padding: 0.5em 0;
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.571;
 /* 157.143% */
    color: var(--base-cristal-white, #ffffff);
    cursor: pointer;
    transition: color 0.2s linear, background 0.2s linear;
    border-radius: 0.4em;
}

@media (any-hover: hover) {
    .header__action:hover {
        color: var(--brandbook-main, #f7971d);
    }
}

.header__action.active {
    color: var(--brandbook-main, #f7971d);
    background: var(--gray-grey-80, #0e1b26);
}

@media (min-width: 768px) {
    .header__action {
        padding: 0;
        font-size: 0.875rem;
        text-align: left;
        color: var(--gray-gray-60, #67677a);
        border-radius: 0;
        background: none;
    }

    .header__action.active {
        color: var(--gray-gray-60, #67677a);
        background: none;
    }
}

@media (min-width: 768px) and (any-hover: hover) {
    .header__action:hover {
        color: var(--base-cristal-white, #ffffff);
    }
}

@media (min-width: 768px) {
    .header__menu-button {
        display: none;
    }
}

.footer {
    padding: 0 0 45px 0;
}

.footer__wrapper {
    display: grid;
    gap: 20px;
}

@media (min-width: 576px) {
    .footer__wrapper {
        gap: 30px;
    }
}

@media (min-width: 768px) {
    .footer__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.footer__logo {
    width: 112px;
    margin: 0 0 25px 0;
    display: block;
}

.footer__logo img {
    width: 100%;
}

@media (min-width: 768px) {
    .footer__logo {
        flex: 0 0 150px;
        margin: 0 25px 0 0;
    }
}

.footer__contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

@media (min-width: 1200px) {
    .footer__contacts {
        gap: 15px 25px;
    }
}

@media (min-width: 1200px) {
    .footer__contacts {
        gap: 40px;
    }
}

.footer__contact {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    gap: 0.625em;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
 /* 150% */
    color: var(--base-cristal-white, #fff);
    transition: color 0.2s linear;
}

.footer__contact svg {
    flex: 0 0 1em;
    width: 1em;
    height: 1em;
    display: block;
    fill: transparent;
    stroke: currentColor;
    stroke-width: 2;
}

@media (any-hover: hover) {
    .footer__contact:hover {
        color: var(--brandbook-main, #f7971d);
    }
}

@media (min-width: 576px) {
    .footer__contact {
        flex: 0 1 auto;
        font-weight: 800;
    }

    .footer__contact svg {
        stroke: var(--brandbook-main, #f7971d);
    }
}

.footer__actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

@media (min-width: 576px) {
    .footer__actions {
        gap: 25px;
    }
}

@media (min-width: 1200px) {
    .footer__actions {
        gap: 25px 65px;
    }
}

.footer__action {
    flex: 1 1 100%;
    display: block;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
 /* 150% */
    text-decoration: underline;
    color: var(--base-cristal-white, #fff);
    cursor: pointer;
    transition: color 0.2s linear;
}

@media (any-hover: hover) {
    .footer__action:hover {
        color: var(--brandbook-main, #f7971d);
    }
}

@media (min-width: 576px) {
    .footer__action {
        flex: 0 1 auto;
        font-weight: 800;
        text-decoration: none;
    }
}

.footer__info {
    display: grid;
    gap: 0.833em;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.667;
 /* 166.667% */
    color: var(--gray-gray-50, #9393a3);
}

.footer__info a {
    text-decoration: underline;
    color: inherit;
}

@media (any-hover: hover) {
    .footer__info a:hover {
        text-decoration: none;
    }
}

.inputs {
    --label-fs: 0.875rem;
    --fs: 1rem;
    --text-fs: 0.75rem;
    --height: 2.5rem;
    --icon-size: 0.875rem;
    --gap: 0.375rem;
    --line-height: 1px;
    --label-clr: var(--gray-gray_50, #9393a3);
    --clr: var(--base-cristal-white, #fff);
    --placeholder-clr: var(--gray-gray_70, #3e3e52);
    --icon-clr: var(--gray-gray_40, #bcbccc);
    --line-clr: var(--gray-gray_70, #3e3e52);
    --line-clr-focus: var(--brandbook-main, #f7971d);
    --line-clr-hover: var(--base-cristal-white, #fff);
    --text-clr: var(--gray-gray_40, #bcbccc);
    --clr-error: var(--brandbook-more, #f22a52);
    --duration: 0.2s;
}

.inputs.error {
    --label-clr: var(--clr-error);
    --line-clr: var(--clr-error);
}

.inputs__text {
    padding: 0.5rem 0 0 0;
    display: block;
    font-size: var(--label-fs);
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
 /* 136.364% */
    color: var(--text-clr);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    box-orient: vertical;
}

/*
<div class="inputs input">
  <div class="input__wrapper">
    <div class="input__label">Фамилия</div>

    <label class="input__group">
      <div class="input__icon">
        <svg>
          <use
            href="../images/sprite.svg#calendar"
            xlink:href="../images/sprite.svg#calendar"
          ></use>
        </svg>
      </div>
      <input class="input__target" type="text" placeholder="Фамилия" />
      <div class="input__line"></div>
      <div class="input__icon">
        <svg>
          <use
            href="../images/sprite.svg#eye"
            xlink:href="../images/sprite.svg#eye"
          ></use>
        </svg>
      </div>
    </label>
  </div>

  <p class="inputs__text" title="Для получения договора и документов об оплате">
    Для получения договора и документов об оплате
  </p>
</div>
*/
.input {
    --input-textarea-height: 4.375rem;
}

.input__label {
    display: block;
    font-size: var(--label-fs);
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
 /* 136.364% */
    color: var(--label-clr);
    transition: color var(--duration) linear;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    box-orient: vertical;
}

.input__group {
    display: flex;
    align-items: center;
    gap: var(--gap);
    cursor: text;
    position: relative;
}

@media (any-hover: hover) {
    .input__group:hover .input__line {
        background: var(--line-clr-hover);
    }
}

.input__icon {
    flex: 0 0 var(--icon-size);
    width: var(--icon-size);
    height: var(--icon-size);
}

.input__icon img {
    width: 100%;
}

.input__icon svg {
    width: 100%;
    height: 100%;
    display: block;
    fill: transparent;
    stroke: var(--icon-clr);
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke var(--duration) linear;
}

.input__icon.active svg {
    stroke: var(--clr);
}

.input__target {
    width: 100%;
    display: block;
    font-size: var(--fs);
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
 /* 135.714% */
    color: var(--clr);
    background: none;
    outline: none;
    border: none;
}

.input__target::-moz-placeholder {
    color: var(--placeholder-clr);
}

.input__target::placeholder {
    color: var(--placeholder-clr);
}

.input__target:focus + .input__line::after {
    transform: translate3d(0, 0, 0);
}

input.input__target {
    min-height: var(--height);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    box-orient: vertical;
}

textarea.input__target {
    height: var(--input-textarea-height);
    padding: 0.625em 0 0 0;
    resize: none;
}

.input__line {
    width: 100%;
    height: var(--line-height);
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    background: var(--line-clr);
    transition: background var(--duration) linear;
}

.input__line::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--line-clr-focus);
    transform: translate3d(-101%, 0, 0);
    transition: transform var(--duration) linear;
}

/*
<div class="inputs select">
  <div class="select__wrapper">
    <div class="select__label">Город</div>

    <div class="select__body">
      <select data-select>
        <option value="Санкт-Петербург">
          Санкт-Петербург Санкт-Петербург Санкт-Петербург Санкт-Петербург
        </option>
        <option value="Москва">Москва</option>
        <option value="Екатеренбург">Екатеренбург</option>
      </select>

      <div class="select__icon">
        <svg>
          <use
            href="../images/sprite.svg#drop"
            xlink:href="../images/sprite.svg#drop"
          ></use>
        </svg>
      </div>

      <div class="select__line"></div>
    </div>
  </div>

  <p class="inputs__text" title="Для получения договора и документов об оплате">
    Для получения договора и документов об оплате
  </p>
</div>
*/
.select__label {
    display: block;
    font-size: var(--label-fs);
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
 /* 136.364% */
    color: var(--label-clr);
    transition: color var(--duration) linear;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    box-orient: vertical;
}

.select__body {
    position: relative;
}

@media (any-hover: hover) {
    .select__body:hover .select__line {
        background: var(--line-clr-hover);
    }
}

.select__body.active .select__line::after {
    transform: translate3d(0, 0, 0);
}

.select__line {
    width: 100%;
    height: var(--line-height);
    position: absolute;
    left: 0;
    bottom: 0;
    pointer-events: none;
    overflow: hidden;
    background: var(--line-clr);
    transition: background var(--duration) linear;
}

.select__line::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--line-clr-focus);
    transform: translate3d(-101%, 0, 0);
    transition: transform var(--duration) linear;
}

.select__icon {
    width: var(--icon-size);
    height: var(--icon-size);
    position: absolute;
    top: calc(50% - var(--icon-size) / 2);
    right: 0;
    pointer-events: none;
}

.select__icon svg {
    width: 100%;
    height: 100%;
    display: block;
    fill: transparent;
    stroke: var(--icon-clr);
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke var(--duration) linear;
    transition: transform var(--duration) linear;
}

.select__body .select2-container {
    display: block;
}

.select__body .select2-container--open + .select__icon svg {
    transform: rotate(180deg);
}

.select__body .select2.select2-container .select2-selection {
    width: 100%;
    min-height: var(--height);
    display: flex;
    align-items: center;
    background: none;
    outline: none;
    border: none;
}

.select__body .select2.select2-container .select2-selection .select2-selection__rendered {
    padding: 0 calc(var(--icon-size) + var(--gap)) 0 0;
    margin: 0;
    font-size: var(--fs);
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
 /* 135.714% */
    color: var(--clr);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    box-orient: vertical;
    white-space: normal;
}

.select__body .select2-selection__arrow {
    display: none;
}

.select__dropdown.select2-dropdown {
    padding: var(--line-height) 0 0 0;
    background: none;
    border: none;
    border-radius: 0;
    z-index: 99;
}

.select__dropdown.select2-dropdown .select2-search {
    display: none;
}

.select__dropdown.select2-dropdown .select2-results {
    padding: 0.625rem 1.25rem;
    background: var(--base-rich-black, #06101a);
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.select__dropdown.select2-dropdown .select2-results__option {
    padding: 0.375rem 0;
    display: block;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
 /* 136.364% */
    color: var(--label-clr) !important;
    background: none !important;
}

.select__dropdown.select2-dropdown .select2-results__option--highlighted {
    color: var(--line-clr-focus) !important;
}

.select__dropdown.select2-dropdown .select2-results__option--selected {
    color: var(--clr) !important;
}

/*
<div class="checkbox">
  <div class="checkbox__wrapper">
    <label class="checkbox__label">
      <input class="checkbox__input" type="checkbox" />
      <div class="checkbox__icon">
        <svg>
          <use
            href="../images/sprite.svg#checked"
            xlink:href="../images/sprite.svg#checked"
          ></use>
        </svg>
      </div>

      <p class="checkbox__text">
        Я ознакомлен и согласен со <span>следующим</span>
      </p>
    </label>
  </div>
</div>
*/
.checkbox {
    --fs: 0.875rem;
    --clr: var(--gray-gray_50, #9393a3);
    --icon-size: 1.375rem;
    --icon-clr: var(--base-cristal-white, #fff);
    --border-radius: 0.25rem;
    --bg: var(--gray-gray_70, #3e3e52);
    --bg-active: var(--brandbook-main, #f7971d);
}

.checkbox__wrapper {
    display: flex;
}

.checkbox__label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media (any-hover: hover) {
    .checkbox__label:hover .checkbox__icon {
        background: var(--bg-active);
    }
}

.checkbox__input {
    width: 0;
    height: 0;
    font-size: 0;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: -100%;
    left: -100%;
    z-index: -999;
}

.checkbox__input:checked + .checkbox__icon {
    background: var(--bg-active);
}

.checkbox__input:checked + .checkbox__icon svg {
    transform: rotate(0) scale(1);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.checkbox__icon {
    flex: 0 0 var(--icon-size);
    width: var(--icon-size);
    height: var(--icon-size);
    background: var(--bg);
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: background 0.2s linear;
}

.checkbox__icon svg {
    width: 100%;
    height: 100%;
    display: block;
    fill: transparent;
    stroke: var(--icon-clr);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform: rotate(180deg) scale(0.1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility, transform;
    transition-duration: 0.2s;
}

.checkbox__text {
    padding: 0 0 0 0.625rem;
    display: block;
    font-family: "Golos";
    font-size: var(--fs);
    line-height: 1.214;
 /* 141.667% */
    color: var(--clr);
}

.checkbox__text a,
.checkbox__text span {
    text-decoration: underline;
}

@media (any-hover: hover) {
    .checkbox__text a:hover,
  .checkbox__text span:hover {
        text-decoration: none;
    }
}

/*
<div class="inputs radio">
  <div class="radio__wrapper">
    <div class="radio__label">Ваш пол</div>

    <div class="radio__body">
      <div class="radio__items">
        <label class="radio__item">
          <input
            checked
            class="radio__input"
            type="radio"
            name="sex"
            value="male"
          />
          <span class="radio__content">
            <span>Мужской</span>
          </span>
        </label>
        <label class="radio__item">
          <input class="radio__input" type="radio" name="sex" value="female" />
          <span class="radio__content">
            <span>Женский</span>
          </span>
        </label>
      </div>
    </div>
  </div>
</div>
*/
.radio {
    --fs: 1rem;
    --border-radius: 0.25rem;
    --clr: var(--base-cristal-white, #fff);
    --clr-active: var(--base-rich-black, #06101a);
    --bg: #182938;
    --bg-active: var(
    --buttons-orange,
    linear-gradient(103deg, #f7971d -0.53%, #f76b1d 100.4%)
  );
}

.radio__label {
    margin: 0 0 0.625rem 0;
    display: block;
    font-size: var(--label-fs);
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
 /* 136.364% */
    color: var(--label-clr);
    transition: color var(--duration) linear;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    box-orient: vertical;
}

.radio__body {
    display: flex;
}

.radio__items {
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.313rem;
    border-radius: var(--border-radius);
    background: var(--bg);
}

.radio__item {
    display: block;
}

.radio__input {
    width: 0;
    height: 0;
    font-size: 0;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: -100%;
    left: -100%;
    z-index: -999;
}

.radio__input:checked + .radio__content {
    color: var(--clr-active);
}

.radio__input:checked + .radio__content::after {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.radio__content {
    padding: 0.313rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs);
    font-style: normal;
    font-weight: 700;
    text-align: center;
    line-height: 1.571;
 /* 157.143% */
    color: var(--clr);
    cursor: pointer;
    border-radius: var(--border-radius);
    transition: color var(--duration) linear;
    position: relative;
}

.radio__content::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    background: var(--bg-active);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility, transform;
    transition-duration: var(--duration);
}

.radio__content span {
    position: relative;
    z-index: 1;
}

@media (any-hover: hover) {
    .radio__content:hover {
        color: var(--clr-active);
    }

    .radio__content:hover::after {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

.autocomplete-suggestions {
    padding: 0.5rem 0.625rem;
    overflow: auto;
    background: var(--base-rich-black, #06101a);
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
    transform: translate3d(0, var(--line-height), 0);
}

.autocomplete-suggestion {
    padding: 0.375rem 0;
    overflow: hidden;
    cursor: pointer;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
 /* 136.364% */
    color: var(--label-clr);
    transition: color var(--duration) linear;
}

@media (any-hover: hover) {
    .autocomplete-suggestion:hover {
        color: var(--line-clr-focus);
    }
}

.autocomplete-suggestions strong {
    color: var(--clr);
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

/*
<div class="autocomplete-suggestions">
    <div class="autocomplete-group"><strong>NHL</strong></div>
    <div class="autocomplete-suggestion autocomplete-selected">...</div>
    <div class="autocomplete-suggestion">...</div>
    <div class="autocomplete-suggestion">...</div>
</div>
*/
.content-wrapper {
    padding: 5px 0 40px 0;
    display: flex;
    justify-content: center;
}

@media (min-width: 576px) {
    .content-wrapper {
        padding: 10px 0 75px 0;
    }
}

@media (min-width: 768px) {
    .content-wrapper {
        padding: 10px 0 100px 0;
    }
}

@media (min-width: 992px) {
    .content-wrapper {
        padding: 10px 0 130px 0;
    }
}

@media (min-width: 1200px) {
    .content-wrapper {
        padding: 10px 0 150px 0;
    }
}

.content-wrapper__body {
    flex: 1 1 auto;
    padding: 20px 15px;
    border-radius: 0.75rem;
    background: var(--gray-grey_80, #0e1b26);
}

@media (min-width: 768px) {
    .content-wrapper__body {
        padding: 30px 20px;
        background: rgba(14, 27, 38, 0.6);
        box-shadow: 0px 24px 134px 0px rgba(0, 0, 0, 0.6);
    }
}

@media (min-width: 1200px) {
    .content-wrapper__body {
        padding: 40px;
    }
}

.title {
    margin: 0 0 0.625rem 0;
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.333;
 /* 133.333% */
    color: var(--base-cristal-white, #fff);
}

@media (min-width: 768px) {
    .title {
        margin: 0 0 1em 0;
        font-size: 1.563rem;
    }
}

@media (min-width: 1200px) {
    .title {
        font-size: 1.875rem;
    }
}

.decors {
    display: none;
}

@media (min-width: 992px) {
    .decors {
        width: 0;
        height: 0;
        display: block;
    }

    .decors img {
        width: 100%;
        max-width: 26.938rem;
        position: absolute;
        z-index: -1;
    }
}

.decors__decor-01 {
    top: -100px;
    left: 160px;
}

.decors__decor-02 {
    top: 173px;
    right: 75px;
}

.offer {
    --logo-height: 2.813rem;
    padding: 10px;
    display: block;
    border-radius: 8px;
    background: var(--gray-grey-80, #0e1b26);
    transition: background 0.2s linear;
}

@media (any-hover: hover) {
    .offer:hover {
        background: var(--base-cristal-white, #fff);
    }

    .offer:hover .offer__sum {
        color: var(--base-rich-black, #06101a);
    }

    .offer:hover .offer__button {
        border-color: transparent;
    }

    .offer:hover .offer__button::before {
        opacity: 1;
        visibility: visible;
    }
}

@media (min-width: 576px) {
    .offer {
        --logo-height: 3.75rem;
        padding: 20px;
    }
}

.offer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.offer__logo {
    width: 100%;
    height: var(--logo-height);
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background: var(--base-cristal-white, #fff);
}

.offer__logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.offer__promo {
    min-width: 7.273em;
    min-height: 1.455em;
    padding: 0 0.909em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.688rem;
    font-weight: 500;
    text-align: center;
    line-height: 1;
    color: var(--base-rich-black, #06101a);
    border-radius: 3.636em;
    background: var(--brandbook-main, #f7971d);
    position: absolute;
    top: var(--logo-height);
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.offer__sum {
    padding: 0.938rem 0;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: var(--base-cristal-white, #fff);
    transition: color 0.2s linear;
}

@media (min-width: 768px) {
    .offer__sum {
        font-size: 1.125rem;
    }
}

@media (min-width: 1200px) {
    .offer__sum {
        font-size: 1.375rem;
    }
}

@media (min-width: 450px) {
    .offer__button span::after {
        content: " займ";
    }
}

.insides__body {
    max-width: 31.25rem;
}

.insides__subtitle {
    padding: 0.417em 0 0 0;
    display: block;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.417;
 /* 141.667% */
    color: var(--base-cristal-white, #fff);
}

@media (min-width: 768px) {
    .insides__subtitle {
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {
    .insides__subtitle {
        font-size: 1.125rem;
    }
}

.insides__form {
    display: grid;
    gap: 20px;
}

.insides__input_center .input__target {
    text-align: center;
}

.insides__resubmit {
    display: flex;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.571;
 /* 157.143% */
    text-align: center;
    text-decoration: underline;
    color: var(--base-cristal-white, #fff);
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

@media (any-hover: hover) {
    .insides__resubmit:hover {
        text-decoration: none;
    }
}

.contact-info {
    --gap-block: 20px;
    --gap-inline: 30px;
}

.contact-info .content-wrapper__body {
    max-width: 50rem;
}

@media (min-width: 768px) {
    .contact-info__title {
        text-align: center;
    }
}

.contact-info__form {
    display: grid;
    gap: var(--gap-block) var(--gap-inline);
}

.contact-info__initials,
.contact-info__contacts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13.125rem, 1fr));
    gap: var(--gap-block) var(--gap-inline);
}

@media (min-width: 768px) {
    .contact-info__initials,
  .contact-info__contacts {
        grid-template-columns: repeat(auto-fit, minmax(11.25rem, 1fr));
    }
}

@media (min-width: 450px) {
    .contact-info__submit {
        max-width: 8.125rem;
    }
}

.passport-details {
    --gap-block: 20px;
    --gap-inline: 15px;
}

.passport-details .content-wrapper__body {
    max-width: 46.875rem;
}

@media (min-width: 768px) {
    .passport-details__title {
        text-align: center;
    }
}

.passport-details__form {
    display: grid;
    gap: var(--gap-block) var(--gap-inline);
}

.passport-details__data {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8.75rem, 1fr));
    gap: var(--gap-block) var(--gap-inline);
}

@media (max-width: 768px) {
    .passport-details__data .inputs:nth-child(3),
  .passport-details__data .inputs:nth-child(4) {
        grid-column: 1/3;
    }
}

@media (max-width: 576px) {
    .passport-details__radio .radio__items {
        width: 100%;
        gap: 0;
    }

    .passport-details__radio .radio__item {
        flex: 1 1 50%;
    }
}

.passport-details__label {
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.15;
 /* 115% */
    color: var(--base-cristal-white, #fff);
}

.passport-details__address {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-block) var(--gap-inline);
}

.passport-details__address .inputs:nth-child(1),
.passport-details__address .inputs:nth-child(2) {
    grid-column: 1/3;
}

@media (min-width: 768px) {
    .passport-details__address {
        grid-template-columns: repeat(2, minmax(11.563rem, 1fr)) repeat(2, 5.625rem);
    }

    .passport-details__address .inputs:nth-child(1),
  .passport-details__address .inputs:nth-child(2) {
        grid-column: auto/auto;
    }
}

.passport-details__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.passport-details__prev {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25rem;
 /* 125% */
    color: var(--base-cristal-white, #fff);
    transition: color 0.2s linear;
}

.passport-details__prev svg {
    flex: 0 0 1em;
    width: 1em;
    height: 1em;
    margin: 0 0.625em 0 0;
    display: block;
    fill: var(--gray-gray_40);
    transition: fill 0.2s linear;
}

@media (any-hover: hover) {
    .passport-details__prev:hover {
        color: var(--brandbook-main, #f7971d);
    }

    .passport-details__prev:hover svg {
        fill: var(--brandbook-main, #f7971d);
    }
}

.passport-details__submit {
    flex: 0 0 8.125rem;
}

.identification {
    --gap-block: 20px;
    --gap-inline: 15px;
}

.identification__body {
    max-width: 31.25rem;
}

.identification__title {
    margin: 0 0 var(--gap-block) 0;
}

.identification__subtitle {
    margin: 0 0 var(--gap-block) 0;
    display: block;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.417;
 /* 141.667% */
    color: var(--base-cristal-white, #fff);
}

@media (min-width: 768px) {
    .identification__subtitle {
        font-size: 1rem;
    }
}

.identification__form {
    display: grid;
    gap: var(--gap-block) var(--gap-inline);
}

.identification__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-block) var(--gap-inline);
}

.identification__footer {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--gap-block) var(--gap-inline);
}

@media (min-width: 450px) {
    .identification__footer {
        flex-direction: row;
        justify-content: space-between;
    }
}

.identification__popup-btn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
 /* 125% */
    text-decoration: underline;
    text-align: center;
    color: var(--base-cristal-white, #fff);
    transition: color 0.2s linear;
}

@media (any-hover: hover) {
    .identification__popup-btn:hover {
        text-decoration: none;
    }
}

@media (min-width: 450px) {
    .identification__submit {
        flex: 0 0 8.125rem;
    }
}

.feedback {
    --gap-block: 20px;
    --gap-inline: 15px;
}

@media (min-width: 1200px) {
    .feedback {
        --gap-inline: 30px;
    }
}

.feedback__body {
    max-width: 46.875rem;
}

@media (min-width: 768px) {
    .feedback__title {
        text-align: center;
    }
}

.feedback__form {
    display: grid;
    gap: var(--gap-block) var(--gap-inline);
}

.feedback__group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11.875rem, 1fr));
    gap: var(--gap-block) var(--gap-inline);
}

@media (min-width: 450px) {
    .feedback__submit {
        max-width: 9.375rem;
    }
}

.my-offers {
    --content-max-width: ;
  padding: 0 0 40px 0;
}

@media (min-width: 576px) {
    .my-offers {
        padding: 0 0 75px 0;
    }
}

@media (min-width: 768px) {
    .my-offers {
        padding: 0 0 100px 0;
    }
}

@media (min-width: 992px) {
    .my-offers {
        padding: 0 0 130px 0;
    }
}

@media (min-width: 1200px) {
    .my-offers {
        padding: 0 0 150px 0;
    }
}

.my-offers__wrapper {
    max-width: 45.625rem;
    margin: 0 auto;
}

.my-offers__head {
    padding-bottom: 25px;
}

.my-offers__head h2:last-child {
    margin: 0;
}

@media (min-width: 768px) {
    .my-offers__head {
        padding-bottom: 40px;
    }
}

@media (min-width: 1200px) {
    .my-offers__head {
        padding-bottom: 75px;
    }
}

.my-offers__subtitle {
    display: block;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.417;
 /* 141.667% */
    color: var(--base-cristal-white, #fff);
}

@media (min-width: 768px) {
    .my-offers__subtitle {
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {
    .my-offers__subtitle {
        font-size: 1.125rem;
    }
}

.my-offers__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-offers__items {
    width: 100%;
    margin: 0 0 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

@media (min-width: 400px) {
    .my-offers__items {
        gap: 20px;
    }
}

@media (min-width: 576px) {
    .my-offers__items {
        gap: 20px;
    }
}

@media (min-width: 768px) {
    .my-offers__items {
        margin: 0 0 30px 0;
        grid-template-columns: repeat(3, 1fr);
    }
}

.my-offers__more {
    --button-border-clr: var(--gray-gray_70, #3e3e52);
}

@media (min-width: 450px) {
    .my-offers__more {
        max-width: 11.25rem;
    }
}

.not-found {
    padding: 10px 0 77px 0;
}

@media (min-width: 576px) {
    .not-found {
        padding: 10px 0 200px 0;
    }
}

@media (min-width: 1200px) {
    .not-found {
        padding: 10px 0 90px 0;
    }
}

.not-found__wrapper {
    position: relative;
}

.not-found__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1200px) {
    .not-found__body {
        padding: 120px 0 200px 200px;
        align-items: flex-start;
    }
}

.not-found__title {
    margin: 0 0 0.625rem 0;
    display: block;
    font-family: "Golos";
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1;
 /* 73.333% */
    color: var(--base-cristal-white, #fff);
}

@media (min-width: 768px) {
    .not-found__title {
        margin: 0 0 1.25rem 0;
        font-size: 3.125rem;
    }
}

@media (min-width: 1200px) {
    .not-found__title {
        font-size: 3.75rem;
    }
}

.not-found__subtitle {
    margin: 0 0 12.5rem 0;
    display: block;
    font-family: "Golos";
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    line-height: 1.667;
 /* 166.667% */
    color: var(--base-cristal-white, #fff);
}

@media (min-width: 1200px) {
    .not-found__subtitle {
        margin: 0 0 1.688rem 0;
        text-align: left;
    }
}

.not-found__back {
    max-width: 12.688rem;
}

@media (min-width: 576px) {
    .not-found__back {
        max-width: 10.625rem;
    }
}

.not-found__image {
    width: 100%;
    max-width: 274px;
    position: absolute;
    top: 4.188rem;
    left: 50%;
    z-index: -1;
    transform: translate3d(-50%, 0, 0);
}

.not-found__image img {
    width: 100%;
}

@media (min-width: 576px) {
    .not-found__image {
        max-width: 378px;
        top: 5rem;
    }
}

@media (min-width: 1200px) {
    .not-found__image {
        top: 0;
    }
}

.data-check {
    padding: 35px 0;
}

@media (min-width: 576px) {
    .data-check {
        padding: 45px 0 65px 0;
    }
}

@media (min-width: 768px) {
    .data-check {
        padding: 75px 0 125px 0;
    }
}

.data-check__title {
    margin: 0 0 1.111em 0;
    display: block;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.556;
 /* 155.556% */
    text-align: center;
    color: var(--base-cristal-white, #fff);
}

.data-check__percent {
    height: 0.771em;
    margin: 0 0 1.875rem 0;
    position: relative;
    font-size: clamp(105px, 3.85rem + 16.38vw, 376px);
    font-style: normal;
    font-weight: 1000;
    line-height: 0.771em;
    text-align: center;
    color: var(--gray-gray_70, #3e3e52);
    pointer-events: none;
}

.data-check__percent.init::after {
    color: var(--brandbook-main, #f7971d);
    animation-name: checkPercentFill;
    animation-duration: var(--check-duration, 8000ms);
    animation-timing-function: linear;
}

.data-check__percent::before,
.data-check__percent::after {
    content: attr(data-percent);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}

.data-check__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 25px;
}

.data-check__item {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
}

.data-check__item.loading .data-check__text::before {
    width: 100%;
}

.data-check__item.checked .data-check__icons img {
    animation: none;
}

.data-check__item.checked .data-check__icons img[alt=loading] {
    display: none;
}

.data-check__item.checked .data-check__icons img[alt=loaded] {
    display: block;
}

.data-check__item.checked .data-check__text {
    color: var(--brandbook-main, #f7971d);
}

.data-check__item.checked .data-check__text::before {
    width: 100%;
    opacity: 0;
    visibility: hidden;
}

@media (min-width: 576px) {
    .data-check__item {
        flex: 0 0 auto;
    }
}

.data-check__icons {
    flex: 0 0 1rem;
    width: 1rem;
    margin: 0 0.625rem 0 0;
}

.data-check__icons img {
    width: 100%;
    animation-name: checkIconSpinner;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.data-check__icons img[alt=loaded] {
    display: none;
}

.data-check__text {
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    color: var(--gray-gray_70, #3e3e52);
    position: relative;
    transition-property: color;
    transition-timing-function: linear;
    transition-duration: 200ms;
}

@media (min-width: 576px) {
    .data-check__text {
        font-size: 0.875rem;
    }
}

.data-check__text::before {
    content: attr(data-text);
    width: 0;
    white-space: nowrap;
    color: var(--base-cristal-white, #fff);
    position: absolute;
    z-index: 1;
    pointer-events: none;
    overflow: hidden;
    transition-property: width, opacity, visibility;
    transition-timing-function: linear;
    transition-duration: var(--check-duration, 200ms);
    transition-delay: var(--check-delay, 0ms);
}

@keyframes checkPercentFill {
    0% {
        -webkit-clip-path: polygon(0 100%, 0 100%, 4% 100%, 8% 100%, 12% 100%, 16% 100%, 22% 100%, 28% 100%, 31% 100%, 36% 100%, 39% 100%, 43% 100%, 47% 100%, 52% 100%, 55% 100%, 58% 100%, 64% 100%, 68% 100%, 74% 100%, 81% 100%, 86% 100%, 92% 100%, 100% 100%, 100% 100%);
        clip-path: polygon(0 100%, 0 100%, 4% 100%, 8% 100%, 12% 100%, 16% 100%, 22% 100%, 28% 100%, 31% 100%, 36% 100%, 39% 100%, 43% 100%, 47% 100%, 52% 100%, 55% 100%, 58% 100%, 64% 100%, 68% 100%, 74% 100%, 81% 100%, 86% 100%, 92% 100%, 100% 100%, 100% 100%);
    }

    15% {
        -webkit-clip-path: polygon(0 100%, 0 77%, 4% 80%, 8% 83%, 12% 86%, 16% 88%, 22% 89%, 28% 88%, 31% 86%, 36% 83%, 39% 81%, 43% 79%, 47% 79%, 52% 80%, 55% 83%, 58% 85%, 64% 88%, 68% 88%, 74% 87%, 81% 85%, 86% 81%, 92% 75%, 100% 69%, 100% 100%);
        clip-path: polygon(0 100%, 0 77%, 4% 80%, 8% 83%, 12% 86%, 16% 88%, 22% 89%, 28% 88%, 31% 86%, 36% 83%, 39% 81%, 43% 79%, 47% 79%, 52% 80%, 55% 83%, 58% 85%, 64% 88%, 68% 88%, 74% 87%, 81% 85%, 86% 81%, 92% 75%, 100% 69%, 100% 100%);
    }

    100% {
        -webkit-clip-path: polygon(0 100%, 0 0%, 4% 0%, 8% 0%, 12% 0%, 16% 0%, 22% 0%, 28% 0%, 32% 0%, 36% 0%, 39% 0%, 44% 0%, 49% 0%, 52% 0%, 55% 0%, 58% 0%, 64% 0%, 68% 0%, 74% 0%, 81% 0%, 85% 0%, 92% 0%, 100% 0%, 100% 100%);
        clip-path: polygon(0 100%, 0 0%, 4% 0%, 8% 0%, 12% 0%, 16% 0%, 22% 0%, 28% 0%, 32% 0%, 36% 0%, 39% 0%, 44% 0%, 49% 0%, 52% 0%, 55% 0%, 58% 0%, 64% 0%, 68% 0%, 74% 0%, 81% 0%, 85% 0%, 92% 0%, 100% 0%, 100% 100%);
    }
}

@keyframes checkIconSpinner {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.popup-layout {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: calc(var(--zIndex) + 1);
    background: var(--base-rich-black, #06101a);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear, visibility 0.2s linear;
}

.popup-layout.active {
    opacity: 0.9;
    visibility: visible;
}

.popup {
    --button-close-size: 20px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: calc(var(--zIndex) + 2);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.2s linear, visibility 0.2s linear;
}

.popup.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.popup.active .popup__body {
    transform: translate3d(0, 0, 0);
}

@media (min-width: 768px) {
    .popup {
        --button-close-size: 25px;
    }
}

.popup__wrapper {
    min-height: 100%;
    padding: 0 var(--container-pi);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup__body {
    width: 100%;
    padding: 30px 0;
    position: relative;
    transform: translate3d(0, -20px, 0);
    transition: transform 0.2s linear;
}

@media (min-width: 992px) {
    .popup__body {
        padding: 45px 0;
    }
}

@media (min-width: 1400px) {
    .popup__body {
        padding: 85px 0;
    }
}

.popup__body-wrapper.content-wrapper__body {
    max-width: 31.25rem;
    background: var(--gray-grey_80, #0e1b26);
    position: relative;
}

@media (min-width: 768px) {
    .popup__body-wrapper.content-wrapper__body {
        max-width: 37.5rem;
    }
}

@media (min-width: 1200px) {
    .popup__body-wrapper.content-wrapper__body {
        max-width: 43.75rem;
    }
}

.popup__close {
    width: var(--button-close-size);
    height: var(--button-close-size);
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.popup__close svg {
    width: 100%;
    height: 100%;
    display: block;
    fill: transparent;
    stroke: var(--base-cristal-white, #ffffff);
    stroke-width: 2;
    stroke-linecap: round;
    transition: stroke 0.15s linear;
}

@media (any-hover: hover) {
    .popup__close:hover svg {
        stroke: var(--brandbook-more, #f22a52);
    }
}

@media (min-width: 768px) {
    .popup__close {
        top: 20px;
        right: 20px;
    }
}

.popup__title {
    padding: 0 var(--button-close-size) 0 0;
}

@media (min-width: 992px) {
    .popup__title {
        margin: 0 0 0.625rem 0;
    }
}

.popup__text {
    margin: 0 0 30px 0;
    display: block;
    font-size: 0.875rem;
    color: var(--base-cristal-white, #fff);
}

.popup__text a {
    text-decoration: underline;
    color: inherit;
}

@media (any-hover: hover) {
    .popup__text a:hover {
        text-decoration: none;
    }
}

@media (min-width: 768px) {
    .popup__text {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    .popup__text {
        font-size: 1.125rem;
    }
}

.popup__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 576px) {
    .popup__actions {
        flex-direction: column-reverse;
    }
}

@media (min-width: 576px) {
    .popup__action {
        flex: 0 1 12.5rem;
    }
}

.popup__cancel {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.25rem;
 /* 125% */
    color: var(--base-cristal-white, #fff);
    transition: color 0.2s linear;
}

.popup__cancel svg {
    flex: 0 0 1em;
    width: 1em;
    height: 1em;
    margin: 0 0.625em 0 0;
    display: block;
    fill: var(--gray-gray_40);
    transition: fill 0.2s linear;
}

@media (any-hover: hover) {
    .popup__cancel:hover {
        color: var(--brandbook-main, #f7971d);
    }

    .popup__cancel:hover svg {
        fill: var(--brandbook-main, #f7971d);
    }
}

@media (min-width: 576px) {
    .popup__cancel {
        width: auto;
    }
}

@media (min-width: 768px) {
    .popup__cancel {
        font-size: 1.125rem;
    }
}